
.Nav-wraper{
  /* display: flex;
  width: 100%;
  max-width: 100%; */

  position: sticky;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
   z-index: 10;
}
.Nav-wraper .nav-instegram-container{
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  /* width: 100%; */
  padding: 0 9em;
  background-color: white;
  border-bottom: 1px solid grey;


}
.Nav-wraper .log-out-container{
/* background-color: red; */

position: absolute;
top: 5px;
right: 15px;
}
.Nav-wraper .log-out-container button{
background-color: transparent;
border: none;
font-size: 20px;
}
