<html>

  <body>
    <h1>Image Uploader</h1>
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="image"/>
      <button type="submit">Upload</button>
    </form>
  </body>
</html>